version: '3.8'

services:
  coturn:
    image: coturn/coturn:4.6
    container_name: chainkvm-turn
    restart: unless-stopped
    network_mode: host
    volumes:
      - ./turnserver.conf:/etc/coturn/turnserver.conf:ro
    command: -c /etc/coturn/turnserver.conf
